
* {
	font-family: "Lora", Lora, serif;
	font-weight: normal;
	color: Black;
}

a {
	text-decoration-line: underline;
	text-decoration-style: dotted; 
	letter-spacing: 1px;
}

img {
	width: 100%;
}

.current {
	color: GoldenRod;
	text-decoration: overline underline;
}

.content {
	margin: auto;
}

@media (min-width: 1001px) {
	nav ul {
		border: 1px solid Gray;
		border-width: 1px 0;
		list-style: none;
		padding: 0;
		text-align: center;
	}

	nav ul li {
		font-size: 1.5em;
		display: inline;
	}

	nav ul a {
		display:inline-block;
		padding:10px;
	}

	.content {
		max-width: 61.8%;
	}
}
@media (max-width: 1000px) {
	nav ul {
		list-style: none;
		padding: 0;
		text-align: center;
	}

	nav ul li {
		font-size: 1.5em;
	}

	nav a {
	}
}
