
* {
	font-family: "Lora", Lora, serif;
	font-weight: normal;
	color: Black;
}

a {
	text-decoration-line: underline;
	text-decoration-style: dotted; 
	letter-spacing: 1px;
}

img {
	width: 100%;
}

.current {
	color: GoldenRod;
	text-decoration: overline underline;
}

.content {
	margin: auto;
}

/* ----- ----- responsive nav bar ----- ----- */
@media (max-width: 650px) {
	/* mobile */
	nav {
		border: 1px solid Gray;
		border-width: 0 0 1px 0;
	}

	nav ul {
		list-style: none;
		padding: 0;
		text-align: center;
	}

	nav ul li {
		font-size: 1.5em;
	}
}

@media (min-width: 650px) {
	/* medium sized window / tabled */
	body {
		margin-top: 4em;
	}
	nav {
		width: 100%;
		position: fixed;
		left: 0;
		top: 0;
		background: White;
		border: 1px solid Gray;
		border-width: 1px 0;
	}
	nav ul {
		list-style: none;
		text-align: center;
	}

	nav ul li {
		font-size: 1.5em;
		display: inline;
	}

	nav ul a {
		display: inline-block;
		padding: 0 10px 0 10px;
	}
}
/* ----- ----- responsive nav bar ----- ----- */

/* ----- ----- responsive width of content ----- ----- */
.content {
	width: 100%;
}

@media (min-width: 800px) and (max-width: 1000px) {
	.content {
		max-width: 75%;
	}
}

@media (min-width: 1000px) and (max-width: 1400px) {
	.content {
		max-width: 61.8%;
	}
}

@media (min-width: 1400px) and (max-width: 1600px) {
	.content {
		max-width: 50%;
	}
}

@media (min-width: 1600px) {
	.content {
		max-width: 40%;
	}

/* ----- ----- responsive width of content ----- ----- */

