* {
	font-family: "Barlow";
	font-style: normal;
	font-weight: 400;
}

a {
	color: Black;
	text-decoration-line: underline;
	text-decoration-style: dotted; 
	letter-spacing: 1px;
}

ul, ol {
	padding-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

nav div {
	background-color: Red;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #333;*/
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
}

nav li {
	float: left;
}

nav a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	/*background-color: #111;*/
	text-decoration: overline underline;
}

nav {
	margin-bottom: 2em;
}

.current {
	color: GoldenRod;
	text-decoration: overline underline;
}

img { width: 100%; }

.spacer {
	width: 19.1%;
}

@media (max-width: 1000px) {
  nav li {
    float: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: gold;
  }
  nav a {
    width: 100%;
  }
  body {
    font-size: 2em;
  }
  .spacer {
	  width: 0;
  }
}
