.nav_ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.nav_li {
	float: left;
}

.nav_a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

.nav_a:hover {
	background-color: #111;
}

.current {
	color: gold;
}

img[alt=bild] { width: 200px; }

@media (max-width: 1000px) {
  .nav_li {
    float: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: gold;
  }
  .nav_a {
    width: 100%;
  }
  body {
    font-size: 2em;
  }
}
