.nav_ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.nav_li {
	float: left;
}
@media (max-width: 1000px) {
  .nav_li {
    width: 25%;
    float: none;
  }
}

.nav_a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav_a:hover {
	background-color: #111;
}

.current {
	color: green;
}

img[alt=bild] { width: 200px; }

@media (min-width: 900px) {
  body {
    background: #ffffff;
  }
}
